.title{
    text-align: center;
    font-size: 25px;
}

.content-tag{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 16px;
}
.content-tag div{
  margin:5px;
}

.content-contents{
    text-indent: 60px;
}
.media img,video{
  max-width: 480px;
    margin: 10px;
    float: left;
    max-height: 250px;
}
.mediaResouce{
  text-indent: 27px;
font-size: 30px;
}
