  .contents{
    display: -webkit-box;
    /* autoprefixer: off */
     -webkit-box-orient: vertical;
     /* autoprefixer: on */
    -webkit-line-clamp: 3;
    overflow: hidden;
  }
  .ant-list-item-meta-title{
    max-width: 94%;
    display: -webkit-box;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
.ant-list-item-action{
  margin-left: unset !important;
}

.ant-list-item-content{
  justify-content:flex-start
}

.content{
    text-indent: 20px;
}
.medias{
  max-width: 80%;
    margin: 5px auto;
    display: block;
}
video{
  float:unset !important;
  display: block;
}
